* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f3f5f7;

  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;

  --post-date: #717171;
  --post-title: #1a202c;
  --title: #313131;
  --text: #b6b6b6;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}
body {
  background: var(--background-color);
}
